<div class="sidebar" [class.hidden]="isSidebarHidden()">
  <div>
    <img class="logo" [src]="logo()" alt="Logo">
    <p>{{ 'All Boards' | uppercase }} ({{ boards().length }}) </p>
    <div class="boards">
      @for(board of boards(); track board.id)
      {
      <app-board-btn [board]="board" />
      }
    </div>
    <button class="create-board-btn" (click)="isCreateNewBoardClicked.set(!isCreateNewBoardClicked())">
      <img src="icon-board.svg" alt="Board Icon">
      + Create New Board
    </button>
  </div>
  <div class="sidebar-bottom">
    <div class="theme-toggle-card">
      <img src="icon-light-theme.svg" alt="Light Theme Icon">
      <label class="switch">
        <input type="checkbox" [checked]="isDarkMode()" (change)="toggleTheme()">
        <span class="slider round"></span>
      </label>
      <img src="icon-dark-theme.svg" alt="Dark Theme Icon">
    </div>

    <button class="hide-sidebar-btn" (click)="toggleSidebar()">
      <img src="icon-hide-sidebar.svg" alt="Hide Sidebar Icon" />
      Hide Sidebar
    </button>
  </div>
</div>

@if (isSidebarHidden()) {
  <button class="show-sidebar-btn" (click)="toggleSidebar()">
    <img src="icon-show-sidebar.svg" alt="Show Sidebar Icon">
  </button>
}

@if (isCreateNewBoardClicked()) {
<app-add-new-board-card (close)="isCreateNewBoardClicked.set(false)"></app-add-new-board-card>
}